<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MothershipURI" value="net.tcp://192.168.0.3:8525/" />
    <add key="MinionURI" value="net.tcp://192.168.0.3:8523/" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_RunCommandService" />
        <binding name="netTcpBinding_ReceiveCommService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint binding="netTcpBinding" bindingConfiguration="netTcpBinding_RunCommandService"
        contract="RunCommandService.IRunCommandService" name="netTcpBinding_RunCommandService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8525/ReceiveCommService"
               binding="netTcpBinding" bindingConfiguration="netTcpBinding_ReceiveCommService"
               contract="ReceiveCommService.IReceiveCommService" name="netTcpBinding_ReceiveCommService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>