@model MothershipLibrary.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <div class="col-xs-8">
            <h4>Minion: @Html.DisplayFor(model => model.Name)</h4>
        </div>
        <div class="col-xs-4 text-right" >
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#newJobCollapse">New Job</button>
        </div>
        
        <hr />      
        <form>
           
            <div id="newJobCollapse" class="collapse">
                <div id="sec_newJob"></div>
            </div>          
        </form>
   
       
       
</div>

</body>
</html>
